<launch>
	<arg name="env" default="apriltags"/>
  	<arg name="paused" value="$(optenv PAUSED false)"/>
	<arg name="gui" value="$(optenv GUI true)"/>
	<arg name="debug" value="$(optenv DEBUG false)"/>
	
	<!--set the position where the robot will be spawned-->
	<param name="create1/amcl/initial_pose_x" value="2.25"/>
  	<param name="create1/amcl/initial_pose_y" value="-1.5"/>
  	<param name="create1/amcl/initial_pose_a" value="0"/>
	<!-- Launch Gazebo world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="verbose" value="true"/>
		<arg name="world_name" value="$(find ca_gazebo)/worlds/$(arg env).world"/>
	</include>

	<!--Publish the transform between the camera and the map frame, to close the cycle --> -->
	<node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="2.486 -1.417 9.80 3.14159 3.14159 0 map april_camera_link 20" />

	<!-- Spawn robot/s -->
	<include file="$(find ca_gazebo)/launch/spawn_multirobot.launch"/>

  <!-- map_server -->
  <include file="$(find ca_move_base)/launch/map_server.launch">
	<arg name="env" value="$(arg env)"/>
  </include>

</launch>
